@font-face {
    -fx-font-family: "Agbalumo";
    src: url("../assets/fonts/agbalumo.ttf");
}

.root {
    -fx-background-color: -color-bg-default;
    -fx-font-family: "Agbalumo";
}
.padding {
    -fx-padding: 20px;
}
